* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color:#301934 ;
    color: #fff;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between
}

header nav ul {
    list-style: none;
}

header nav ul li {
    justify-content: flex-end;
    display: inline;
    font-size: 20px;
    padding: 20px;
    margin-right: 20px;
}

.background-img {
    height: 150px;
    width: 100%;
    background-image: url("./images/earth-gaf0196775_1920 (2).jpg")
}

main {
    color: #301934;
    background-color: #C3C3C3;
    display: flex;
    display: block;
}

section {
text-align: center;
}

h2 {
    font-size: 200%;
    text-align: center;
    padding: 50px;
}

a {
    text-align: center;
    padding: 0px 10px;
    display: inline-block;
}

    
a:link {
    text-decoration: none;
    color: #301934;
    font-size: 20px;
}

a:visited {
    color: #301934;
}

footer {
    text-align: center;
    background-color: #301934;
    color: #fff;
    padding: 40px;
    font-size: 150%;
}