* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color:#301934 ;
    color: #fff;
    padding: 40px 10px;
}

header h1 {
    display: inline-block;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    margin-right: 20px;
}

.background-img {
    height: 150px;
    width: 100%;
    background-image: url("./images/earth-gaf0196775_1920 (2).jpg")
}

